

.menu_dinamico {
    margin-top: 4rem;
    .item_menu {
        
        margin-bottom: 2rem;
        .fa{
            margin: 0.5rem;
            font-size: 2rem;
            margin-right: 1rem;
        }
        .label{
            margin: auto;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

}